<!DOCTYPE html>
<html lang="en">
<head>

    <script src="{{ url_for('static', filename='script.js') }}"></script>   
    <meta charset="UTF-8">
    <title>Upload File</title>

</head>
<body>
    <div class="container">
        <h1>Upload a Music Sheet</h1>
        <form action="/upload_file" method="POST" enctype="multipart/form-data">
            <label for="file">Select PDF file to upload:</label>
            <input type="file" name="file" id="file" accept="application/pdf" required>

            <label for="song_name">Song Name:</label>
            <input type="text" name="song_name" id="song_name" placeholder="e.g. Fur Elise" required>

            <label for="authors">Author/Composer:</label>
            <input type="text" name="authors" id="authors" placeholder="e.g. Beethoven">

            <label for="categories">Category/Genre:</label>
            <input type="text" name="categories" id="categories" placeholder="e.g. Classical">

            <label for="instruments">Instrument:</label>
            <input type="text" name="instruments" id="instruments" placeholder="e.g. Piano">

            <button type="submit">Upload</button>
        </form>
    </div>

    <a href="/download/Fur Elise" download>
        <button>Download "Fur Elise"</button>
    </a>
    <a href="/get_sheets">
        <button>Show All Sheets</button>
    </a>

</body>
</html>