{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <div class="row">

        <div class="col-md-4" id="user-container" data-user-id="{{  user_id  }}">

            <h1>asdasd</h1>
        </div>


        <div class="col-md-8" id="sheets-container">
            <h1>12321321</h1>       

        </div>

    </div>

</div>

{% if can_edit %}
<!-- Edit profile picture modal -->
<div class="modal fade" id="profilePicModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title">Change Profile Picture</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <form id="profile-pic-form" enctype="multipart/form-data">
          <input type="file" name="photo" accept="image/*" class="form-control mb-3" >
          <button type="submit" class="btn btn-primary" id="change_photo_submit_button">Upload</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit sheet modal -->
<div class="modal fade" id="editSheetModal" tabindex="-1" aria-labelledby="editSheetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="editSheetForm">
        <div class="modal-header">
          <h5 class="modal-title" id="editSheetModalLabel">Edit Sheet</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <input type="hidden" name="safe_filename" id="editSafeFilename">

          <div class="mb-3">
            <label for="editSongName" class="form-label">Song Name</label>
            <input type="text" class="form-control" id="editSongName" name="song_name" required>
          </div>

          <div class="mb-3">
            <label for="editAuthors" class="form-label">Authors (comma separated)</label>
            <input type="text" class="form-control" id="editAuthors" name="authors">
          </div>

          <div class="mb-3">
            <label for="editCategories" class="form-label">Categories (comma separated)</label>
            <input type="text" class="form-control" id="editCategories" name="categories">
          </div>

          <div class="mb-3">
            <label for="editInstruments" class="form-label">Instruments (comma separated)</label>
            <input type="text" class="form-control" id="editInstruments" name="instruments">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Delete sheet Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <span id="file-to-delete"></span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" id="confirmDeleteBtn" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

{% endif %}



<script src="{{ url_for('static', filename='user.js') }}"></script>

{% endblock %}