{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <div class="row">

        <div class="col-md-4" id="user-container" data-user-id="{{  user_id  }}">

            <h1>asdasd</h1>
        </div>


        <div class="col-md-8" id="sheets-container">
            <h1>12321321</h1>       

        </div>

    </div>


</div>
{% if can_edit %}
<div class="modal fade" id="profilePicModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title">Change Profile Picture</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <form id="profile-pic-form" enctype="multipart/form-data">
          <input type="file" name="photo" accept="image/*" class="form-control mb-3" >
          <button type="submit" class="btn btn-primary" id="change_photo_submit_button">Upload</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<script src="{{ url_for('static', filename='user.js') }}"></script>

{% endblock %}